
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
#nav
{
height:35px;
margin-right:100px;
margin-top:-70px;
}
a
{
color:white;
text-decoration:none;
vertical-align:middle;
margin-right:10px;
font-size:20px;
cursor:pointer;
opacity:0.7;
border-radius:5px;
padding:8px;
font-weight:bold;
}


#nav ul
{
padding:0px;
font-weight:bold;
text-align:center;
position:fixed;
margin-top:10px;


}
#nav li
{
display:inline;
vertical-align:middle;
padding:8px 20px 20px 8px;
height:10px;

}

a:hover
{
color:whitesmoke;
opacity:1;
border:2px solid grey;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 70px;
  text-align: center;
  font-size:25px;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}